<!-- <p>home works!</p>
<h1> {{ title }} </h1>
<h2 [style]="green"> {{ sum() }}</h2>

<div>
    <input #inputMessage type="text" [(ngModel)]="message">
    <button (click)="clickMe( 'Hi There' )">Click Me</button>
    <h3>{{ message }}</h3>
</div>

<div>
    <button (click)="toggle()">Show/Hide</button>
    <ng-template *ngIf="show ; then showPrivate; else showPublic"></ng-template>

    <ng-template #showPrivate>
        <h3>Private Message</h3>
    </ng-template>

    <ng-template #showPublic>
        <h3>Public Message</h3>
    </ng-template>

</div>
<div>
    <button (click)="inc()">+</button>
    <button (click)="dec()">-</button>

    <table>
        <tr>
            <ng-container *ngFor="let num of nums; index as i; count as total; even as even; odd as odd">
        <tr [style]="even ? green : red" style="color:white; text-align: center;">
            <td style="width: 50px">
                {{i+1}}.
            </td>
            <td style="width: 100px">
                {{num}}
            </td>
        </tr>
        </ng-container>
    </table>

</div>
<div>
   
</div> -->
<!-- Masthead -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold"> WEB SERVICE AGENCY</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">This is mainly about how to solve technical problems
                    that arise from using front or back end technologies to
                    make web pages or web apps but some of these steps will be applicable to solving technical
                    problems in
                    general.</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" routerLink="/about"
                routerLinkActive="active">Find Out More</a>
            </div>
        </div>
    </div>
</header>